<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
	
</head>
<body>

	<h1> Formulario de la carrera</h1>
	<form id="form1" name="form1">
		<fieldset align="center">
			<legend>Datos  de las carreras</legend>
            <label>ID carrera</label>
			<input type="text" name="idcarr" id="idcarr" value="" maxlength="20" placeholder=" " required ><br>	
			<label>CARRERA</label>
			<input type="text" name="nombre" id="nombre" value="" maxlength="20" placeholder="Escriba nombre carrera" required ><br>	
			<label>MODALIAD</label>
			<input type="text" name="mod" id="mod" value="" maxlength="20"  placeholder="escriba modalidad"><br>
			<label>FORMA EVALUAR</label>
			<input type="number" name="forma" id="forma" value="" >	<br>	
			<label>DURACION</label>
			<input type="text" name="dura" id="dura" value=""><br>	
			<label>Fecha de CREACIOn</label>
			<input type="fcreacion" name="fcreacion" id=""><br>
			<label>CARGA HORARIO</label>
			<input type="text" name="cargah" id="cargah" value="">	<br>
			<label>Fecha de REGISTRO</label>
			<input type="fcreacion" name="freg" id=""><br>
		</fieldset>
		
		<br>
		<input type="button" value="Guardar" id="guardar" name="guardar" onclick="mostrar();">
		<input type="reset" value="Cancelar">
	</form>
</body>
</html>